.cartao
  display flex
  flex-direction column
  align-items center
  justify-content center
  .frente
    background linear-gradient(#afafaf, #dddddd, #ccc, #afafaf)
    width 250px
    height 150px
    border-radius 10px
    box-shadow 2px 1px 0px #ccc
    border 1px solid #cccc
    overflow hidden
    .corpo
      background url('./../img/mapacartao.png') no-repeat center
      padding 10px
      height 100%
      .chip
        margin-top 25px
        img
          max-width 40px
    .numero
      height 25px
      margin-top 5px
      font-weight bold
      text-shadow:1px 0px 2px #5f5f5f
    .rodape
      display flex
      flex-direction row
      .dados
         width 70%
         font-size 13px
         text-shadow:1px 0px 2px #5f5f5f
         font-weight bold
         .datas
           text-align center
           padding 6px
          .nome
            font-size 11px
            padding 2px
      .bandeira
         width 30%
         display flex
         justify-content center
  .verso
    background linear-gradient(#afafaf, #dddddd, #ccc, #afafaf)
    margin-top 10px
    width 250px
    height 150px
    border-radius 10px
    box-shadow 2px 1px 0px #ccc
    border 1px solid #cccc
    overflow hidden
    .corpo
      background url('./../img/mapacartao.png') no-repeat center
      height 100%
      margin 0px
      .tarja
        width 100%
        padding-top 20px
        .magnetica
           height 40px
           background #000
           width 100%
      .cvv
        height 30px
        background #fff
        margin 5px
        max-width 180px
        padding 5px
        text-align: right
       .bandeira
         width 60px
         height: 50px
         padding 10px
         display flex
         justify-content center
