.cartao
  display flex
  flex-direction column
  align-items center
  justify-content center
  color #fff
  .frente
    width 100%
    height 100%
    border-radius 10px
    overflow hidden
    .corpo
      width 100%
      min-height 200px
      min-width 280px
      background url('./../img/cartao-frente.svg') no-repeat center
      padding 10px
      height 100%
      webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
      display flex
      flex-direction: column
      justify-content: flex-end
      align-items: flex-start
      .numero
        height 25px
        font-size 18px
        margin-top 10px
        font-weight bold
        text-shadow:1px 0px 2px #5f5f5f
      .rodape
        display flex
        flex-direction row
        width 100%
        .dados
           width 100%
           font-size 13px
           font-weight bold
           .datas
             text-align left
             padding 6px
            .nome
              font-size 11px
              padding 2px
        .bandeira
           width 80px
           display flex
           justify-content center
           img
             width 100%
  .verso
    border-radius 10px
    overflow hidden
    width 100%
    color #000
    .corpo
      background url('./../img/cartao-verso.svg') no-repeat center
      width 100%
      height 100%
      min-height 200px
      min-width 280px
      margin 0px
      .tarja
        width 100%
        padding-top 30px
        .magnetica
           height 40px
           background #000
           width 100%
      .cvv
        height 35px
        background #fff
        margin 5px
        max-width 180px
        font-size 18px
        padding 5px
        text-align: right
       .bandeira
         width 50px
         height: 50px
         padding 10px
         display flex
         justify-content center
         margin-top 20px
